@import "tailwindcss";

/* Light mode default */
:root {
  --background: #ffffff;
  --background-hover: #f0f0f0;
  --foreground: #171717;
  --foreground-hover: #6b6b6b;
  --shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}

/* Dark mode */
html.dark {
  --background: #0a0a0a;
  --background-hover: #1a1a1a;
  --foreground: #ededed;
  --foreground-hover: #b1b1b1;
  --shadow: 0 0 4px 1px rgba(182, 182, 182, 0.397);
}

/* Optional: Expose to Tailwind custom props */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-hover: var(--background-hover);
  --color-foreground-hover: var(--foreground-hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-comfortaa: var(--font-geist-comfortaa);
  --shadow: var(--shadow);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, sans-serif);
  box-shadow: var(--shadow);
}

/* Reusable class that swaps colors on hover */
.color-swap {
  --text-color: var(--foreground-hover);
}

.color-swap:hover {
  --text-color: var(--foreground);
}